# Database
DATABASE_URL=postgresql://kipli_user:kipli_password@203.190.43.51:15432/pamsimas_db

# Security
SECRET_KEY=1234567890abcdefghijklmnopqrstuvwxyz
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=300

# Application
APP_NAME=PAMSIMAS
APP_VERSION=1.0.0

# File Upload
MAX_FILE_SIZE=5242880
UPLOAD_DIR=/app/uploads
FOTO_METERAN_DIR=/app/uploads/foto_meteran

# Pengaturan Default
BIAYA_ADMIN=3000
BIAYA_SISTEM=1000
BIAYA_PETUGAS=2000
